<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="template">
<link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
<head>
  <meta charset="utf-8">
  <title>Error</title>
</head>
<body>
  <div class="flex justify-content-center align-items-center h-auto">
    <div class="card">
      <div class="card-header">
        <h3 class="text-danger">Access Denied</h3>
      </div>
      <div class="card-body">
        <p class="text-danger">You are not authorized to access this page.</p>
      </div>
    </div>
  </div>
</body>
</html>